<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hometraininghelper">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:name=".CustomApplication"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"> </activity>
        <activity android:name=".SubActivity"></activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity" android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" />
        <activity android:name="com.facebook.CustomTabActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="d546f0ea15476db798ff89f1e7a1e45f" />

        <activity android:name=".ArmEasyActivity" />
        <activity android:name=".ArmNorActivity" />
        <activity android:name=".ArmHardActivity" />
        <activity android:name=".ArmActivity" />
        <activity android:name=".AbsActivity" />
        <activity android:name=".AbsEasyActivity" />
        <activity android:name=".AbsNorActivity" />
        <activity android:name=".AbsHardActivity" />
        <activity android:name=".ChestHardActivity" />
        <activity android:name=".ChestNorActivity" />
        <activity android:name=".ChestEasyActivity" />
        <activity android:name=".ChestActivity" />
        <activity android:name=".LegActivity" />
        <activity android:name=".LegNorActivity" />
        <activity android:name=".LegEasyActivity" />
        <activity android:name=".LegHardActivity" />
        <activity android:name=".ShoulderActivity" />
        <activity android:name=".ShoulderNorActivity" />
        <activity android:name=".ShoulderEasyActivity" />
        <activity android:name=".ShoulderHardActivity" />
        <activity android:name=".StretchActivity" />
        <activity android:name=".StretchNeckShoulderActivity" />
        <activity android:name=".StretchWholeActivity" />
        <activity android:name=".StretchUpperActivity" />
        <activity android:name=".StretchLowerActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".BmiActivity" />
        <activity android:name=".FavoritesActivity" />
        <activity android:name=".AfterActivity" />
        <activity android:name=".SearchActivity" />

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>